@import "~styles/colors";
@import "~styles/constants";

header {
  background: $dark-blue;
  display: grid;
  grid-column: span 12;
  grid-template-columns: repeat(12, 1fr);
  div{
    grid-column: span 4;
    display: inline-flex;
    color: $red;
    cursor: default;
    font-size: $large-font-size;
    align-items: center;
    margin-left: $large-margin;
  }
}